h1{
    color:mediumslateblue;  
    font-size:100px;

}
h2{
   color:chartreuse;
   font-size:30px
   text-align:justify

}

p{
   color:#62fdce;
   font-size:100px
   font-family
   text-align:justify;

}